<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBc5kQX8Q5QxRpeSr997YIUyaBqApp5rOI</string>
	<key>GCM_SENDER_ID</key>
	<string>297760367999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.earn.money</string>
	<key>PROJECT_ID</key>
	<string>earn-money-be01f</string>
	<key>STORAGE_BUCKET</key>
	<string>earn-money-be01f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297760367999:ios:973e0a3191daffb410a64a</string>
</dict>
</plist>